{%extends 'core/base.html'%}
{%block title%}Catalog{%endblock%}
{%block main%} 
{% load static %}

<div class="d-flex flex-wrap">
   {%for product in products%}
<div class="card m-3" style="width: 18rem; ">
    <div class="card-body">
        <img class="img__card" src="{{product.img.url}}" alt="">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="">Цена:  {{product.price}} рублей</p>
        <p class="">Скидка: {{product.discount}}%</p>
        <p class="class">Брэнд: {{product.brand}}</p>
        <p class="class">Осталось: {{product.stock}} штук</p>
        <p class="class">Дата добавления продукта: {{product.when_added}}</p>
      <a href="{%url 'product' product_id=product.id%}" class="btn btn-primary">Подробнее</a>
    </div>
  </div>
    {%endfor%}
  </div>
{%endblock%}